.projects {
  width: 100vw;
  height: 90vh;
  padding-top: 15vh;
  background-color: white;
  h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5vw;
    margin: 0;
    border-color: white;
    text-align: center;
    background-color: white;
  }
}
