$text-color: #282828;
html, body {
  height: 100%;
  font-family: 'IBM Plex Mono', monospace !important;
  background: #ebdbb2 !important;
}

.text {
  color: $text-color !important;
}

.large-text {
  font-size: 3em;
}

.medium-text {
  font-size: 2em;
}