$text-color: $gb-lm-fg0;
html, body {
  height: 100%;
  font-family: 'IBM Plex Mono', monospace !important;
  background-color: $gb-lm-bg0  !important;
}

.text {
  color: $text-color !important;
}

.large-text {
  font-size: 3em;
}

.medium-text {
  font-size: 2em;
}

#footer-text {
  padding: 0 1em;
  font-size: smaller;
}

footer {
  clear: both;
  position:relative;
  z-index: 99;
}

.vspace {
  padding: 0.5em 0;
}
